
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    padding: 10px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
body{height: 100%;}
header {background-color:#fafafa;color:white;border: 1px solid #aaa; width: 100%;max-height: 100px; height: 50px;}
.footer {background: #aaa;color:white;position:relative;width: 100%;}

.user_div .article_div{
  float: left;
  padding: 10px;
  width: 15%;
}
.user_img {
  width: 100%;
  background-color: #FF4500;
  min-width: 100px;
  min-height: 100px;
  padding-top:20%;
  padding-bottom: 20%;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  position:relative;
  display:inline-block;
  border: 1px solid #FF4500;
  border-radius: 100px;
  border: 1px solid #FF4500;
}
.user_img:hover{
  transition:all 150ms linear;
  opacity: .85;
}
.user_img:active{
  transition: all 150ms linear;
  opacity: .75;
}

.user_img:focus{
  outline: all dotted #959595;
  outline-offset: -4px;
}

.name_label_span{
  margin-top: -28px;
  position: absolute;
  background-color: #101010;
  border-radius: 6px;
  padding: 3px;
  font-size: 90%;
  font-weight: bold;
  margin-left: -77px;
  color: white;
  width: 150px;
}
.article_img {
  width: 100%;
  border-radius: 5px;
  border-style: groove;
  background-color:#83bb26;
}

.article_img:hover{
  transition:all 150ms linear;
  opacity: .85;
}
.article_img:active{
  transition: all 150ms linear;
  opacity: .75;
}
.article_img:focus{
  outline: all dotted #959595;
  outline-offset: -4px;
}

menu li {
  float: left;
  list-style: none;
  width: 20%;
  min-width: 10em;
  display: inline-block;
  margin-left:3px;
  margin-right: 3px;
  margin-top:3px;
} 
@media only screen and (max-device-width : 300px) {
  menu li {width: 100%;margin-right: 10px;}
  li p {font-size: 35px}
  .footer {position: relative;}
  .user_img{width: 100%;}
  .search_form {width: 100%}
  .notify-badge{right: 0px;width: 200px;height: 50px;}
  .login_modal-content{width: 80%}
}
@media screen and (min-width: 1000px) {
  menu li {width: 10%;}
  .search_form {width: 30%}
}

.search_form{
  width: 100%;
  float: right;
}

.header_first_column{
  width: 20%;
  float:left;
  border-style: 1px solid;
}
.header_second_column{
  width: 30%;
  float:left;
  height: 50px;
  border-style: 1px solid;
}
.header_third_column{
  float: right;
  border-style: 1px solid;
}

.search {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
/** POPUP WINDOW **/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #d3d3d3;
    margin: auto;
    padding: 20px;
    border: 1px none #888;
    display: table;
    align-content: center;
    border-radius: 15px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -30px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popupButton{
  background-repeat:no-repeat;
  width:130px;
  height: 130px;
  border: none;
  color: #83bb26;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15em;
  background-color: rgba(0, 0, 0, -0.5);
}

/** POPUP WINDOW END**/


.item {
    position:relative;
    padding-top: 20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgb(247, 171, 106);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size: 100%;
}



/** ADMIN ****
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 5px;
    margin-bottom: 4px;
    height: 120px;
    background-color: #FF4500;
    border-radius: 14px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.box1, .box2, .box3{
  
  margin-right: 3.33333%;
  padding: 1px;
  box-sizing: border-box;
  max-height: 120px;
}
.box1 {width: 10%;float: left;}
.box2 {width: 55%;float: left;}
.box3 {width: 15%;float: right;}

.payment_input{
  width: 50px;
  height: 33px;
  padding: 1px;
  border:none;
  border: 1px solid #555;
  font-weight: bold;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 37px;
}
.button:hover{
  background: #383;
}
.add_product_button{
  height:100%; position:relative;width:100%;
}
.label_text{
  float:left;
}

.user_profil_icon{
  border-radius: 50px;
  width:50px;
  height:50px;
  float:left;
  background-repeat:no-repeat;
  background-size: cover
}
menu{ padding-left: 0px;}
.user_logout_img{
  border-radius: 50px;
  background-color: #555;
  width: 45px;
}
.logo_img{width: 150px; height: 50px;}
.user_logout_in_article_page .user_logout_in_admin_page{
  float: right;
}
#loggedUserName{
  color:#000;
  font-weight: bold;
}
