
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    padding: 10px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
body{height: 100%;}
header {background-color:#83bb26;color:white; width: 100%;max-height: 90px;}
footer {background: #aaa;color:white;position: absolute;width: 100%;bottom: 0px;}

.user_div .article_div{
  float: left;
  padding: 10px;
  width: 15%;
}
.user_img {
  width: 100%;
  border-radius: 50px;
  background-color:#83bb26;
  min-width: 150px;
  min-height: 100px;
  height: 60px;
  padding-top:20%;
  padding-bottom: 20%;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  position:relative;
  display:inline-block;

  &:hover{
  transition:all 150ms linear;
  opacity: .85;
  }
  &:active{
  transition: all 150ms linear;
  opacity: .75;
  }
  &:focus{
  outline: all dotted #959595;
  outline-offset: -4px;
  }
}
.article_img {
  width: 100%;
  border-radius: 5px;
  border-style: groove;
  background-color:#83bb26;

  &:hover{
    transition:all 150ms linear;
    opacity: .85;
  }
  &:active{
    transition: all 150ms linear;
    opacity: .75;
  }
  &:focus{
    outline: all dotted #959595;
    outline-offset: -4px;
  }
}

menu li {
  float: left;
  list-style: none;
  width: 20%;
  min-width: 10em;
  display: inline-block;
  margin-left:3px;
  margin-right: 3px;
  margin-top:3px;
} 
@media only screen and (max-device-width : 300px) {
  menu li {width: 100%;margin-right: 10px;}
  li p {font-size: 35px}
  footer {position: relative;}
  .user_img{width: 100%;}
  .search_form {width: 100%}
  .notify-badge{right: 0px;width: 200px;height: 50px;}

}
@media screen and (min-width: 1000px) {
  menu li {width: 10%;}
  .search_form {width: 30%}
}

.search_form{
  width: 100%;
  float: right;
}

.header_first_column{
  width: 25%;
  float:left;
  border-style: 1px solid;
}
.header_second_column{
  width: 25%;
  float:left;
  border-style: 1px solid;
}
.header_third_column{
  width: 50%;
  float:left;
  border-style: 1px solid;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
/** POPUP WINDOW **/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #d3d3d3;
    margin: auto;
    padding: 20px;
    border: 1px none #888;
    width: fit-content;
    align-content: center;
    border-radius: 15px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popupButton{
  background-repeat:no-repeat;
  width:130px;
  height: 130px;
  border: none;
  color: #83bb26;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15em;
  background-color: rgba(0, 0, 0, -0.5);
}

/** POPUP WINDOW END**/


.item {
    position:relative;
    padding-top: 20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right: -15px;
    top: 0px;
    background: rgb(247, 171, 106);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size: 100%;
}